.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox {
    position: relative;
    max-width: 600px;
}
.content .textBox h2 {
    color: black;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 1000;
}
.content .textBox p {
    color: black;
}
.content .textBox a { 
    display: inline-block;
    margin-top: 20px;
    padding:  8px 20px;
    background-color: #FEC400;
    color: #fff;
    font-weight: 1000;
    border-radius: 10px;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imageBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imageBox img {
    max-width: 340px;
}


.contact {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact .contact-infor {
    position: relative;
    max-width: 600px;
}
.contact .contact-infor h2 {
    color: black;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 1000;
}
.contact .contact-infor p {
    color: black;
    font-weight: 1000;
}
.sci li {
    list-style: none;
    display: inline;
    padding: 5px;
    
}
.sci li a {
    display: inline-block;
    margin: 5px 0;
    width: 15%;
}

@media (max-width: 991px){
    .content {
        flex-direction: column;
        margin-top: 100px;
    } 
    .content .textBox h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .content .textBox {
        max-width: 100%;
    }
    .content .imageBox {
        max-width: 100%;
        height: auto;
        justify-content: center;
        padding-right: 0;
        margin-top: 0;
    }
    .content .imageBox img {
        max-width: 250px;
    }

    .contact {
        flex-direction: column;
        margin-top: 20px;
    } 
    .contact .contact-infor {
        max-width: 100%;
    }
    .contact .contact-infor h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
        font-size: bold;
    }
    
}